<!DOCTYPE html>
<html>
  <head>
    <title>Unbarreld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
  <script type="text/javascript">
    window.user_icon = "<%= image_url('login_user_icon.png') %>"
  </script>
  <script type="text/javascript">
    window.barrel_background = "<%= image_url('barrel_background.jpg') %>"
  </script>
  <script type="text/javascript">
    window.email_icon = "<%= image_url('login_email_icon.png') %>"
  </script>
  <script type="text/javascript">
    window.lock_icon = "<%= image_url('login_lock_icon.png') %>"
  </script>
   <script type="text/javascript">
     window.phone_image = "<%= image_url('phone_image.png') %>"
   </script>
   <script type="text/javascript">
     window.bottles = "<%= image_url('bottles.png') %>"
     window.beer01 = "<%= image_url('beer01.jpeg')%>"
     window.beer02 = "<%= image_url('beer02.jpeg')%>"
     window.beer03 = "<%= image_url('beer03.jpeg')%>"
     window.beer04 = "<%= image_url('beer04.jpeg')%>"
     window.beer05 = "<%= image_url('beer05.jpeg')%>"
     window.beer06 = "<%= image_url('beer06.jpg')%>"
     window.beer07 = "<%= image_url('beer07.jpeg')%>"
     window.beer08 = "<%= image_url('beer08.jpeg')%>"
     window.beer09 = "<%= image_url('beer09.jpeg')%>"
     window.beer10 = "<%= image_url('beer10.jg')%>"
     window.beer11 = "<%= image_url('beer11.jpeg')%>"
     window.beer12 = "<%= image_url('beer12.jpeg')%>"
     window.fosters13 = "<%= image_url('fosters13.jpeg')%>"
     window.beer14fosters = "<%= image_url('beer14fosters.jpg')%>"
     window.beer15 = "<%= image_url('beer15.jpeg')%>"
     window.beer16 = "<%= image_url('beer16.jpeg')%>"
   </script>

  
    <% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
  <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
